In [1]:
import numpy as np 
import pandas as pd

In [101]:
df=pd.read_csv("dataset/survey.csv")

In [3]:
df.shape

(1259, 27)

In [4]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [102]:
df.drop(['comments'], axis=1, inplace=True)
df.drop(['state'], axis=1, inplace=True)

df.drop(['Timestamp'], axis=1, inplace=True)
df.drop(['Country'], axis=1, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1259 non-null   int64
 1   Gender                     1259 non-null   object
 2   self_employed              1241 non-null   object
 3   family_history             1259 non-null   object
 4   treatment                  1259 non-null   object
 5   work_interfere             995 non-null    object
 6   no_employees               1259 non-null   object
 7   remote_work                1259 non-null   object
 8   tech_company               1259 non-null   object
 9   benefits                   1259 non-null   object
 10  care_options               1259 non-null   object
 11  wellness_program           1259 non-null   object
 12  seek_help                  1259 non-null   object
 13  anonymity                  1259 non-null   object
 14  leave                      1259 non-null   object
 15  mental_health_consequence  1259 non-null   object
 16  phys_health_consequence    1259 non-null   object
 17  coworkers                  1259 non-null   object
 18  supervisor                 1259 non-null   object
 19  mental_health_interview    1259 non-null   object
 20  phys_health_interview      1259 non-null   object
 21  mental_vs_physical         1259 non-null   object
 22  obs_consequence            1259 non-null   object
dtypes: int64(1), object(22)
memory usage: 226.4+ KB

In [88]:
df["self_employed"].value_counts()

No     1095
Yes     146
Name: self_employed, dtype: int64

In [103]:
df['self_employed'] = df['self_employed'].fillna(df['self_employed'].mode()[0])
df['work_interfere'] = df['work_interfere'].fillna(df['work_interfere'].mode()[0])

In [10]:
df.isnull().sum()

Age                          0
Gender                       0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [11]:
# df.drop(['phys_health_interview'], axis=1, inplace=True)
# df.drop(['mental_health_interview'], axis=1, inplace=True)
# df.drop(['mental_vs_physical'], axis=1, inplace=True)
# df.drop(['supervisor'], axis=1, inplace=True)
# df.drop(['phys_health_consequence'], axis=1, inplace=True)

In [104]:
unique_values_per_column = {}
for column in df.columns:
    unique_values_per_column[column] = df[column].unique()

In [105]:
unique_values_per_column['Age']

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72], dtype=int64)

In [106]:
uncleaned_age_df = df[(df['Age'] < 21) | (df['Age'] > 44)]
len(uncleaned_age_df)
uncleaned_age_df['Age'].index

Int64Index([  18,   22,   38,   43,   75,   93,  112,  118,  129,  143,  150,
             178,  183,  282,  287,  292,  294,  297,  333,  335,  347,  364,
             372,  375,  390,  396,  419,  437,  466,  471,  475,  478,  482,
             484,  498,  505,  508,  516,  520,  527,  560,  574,  581,  592,
             606,  631,  639,  643,  652,  660,  679,  682,  687,  715,  734,
             749,  825,  826,  837,  856,  864,  870,  895,  898,  904,  905,
             909,  910,  911,  946,  952,  964,  968,  973,  989,  991,  994,
            1017, 1020, 1027, 1068, 1090, 1104, 1106, 1117, 1123, 1126, 1127,
            1159, 1164, 1174, 1182, 1186, 1211, 1220, 1221, 1236, 1257],
           dtype='int64')

In [107]:
df = df.drop(uncleaned_age_df['Age'].index)

In [108]:
df['Age'].unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 41, 34, 30, 40, 38,
       24, 28, 26, 22, 25, 21, 43], dtype=int64)

In [109]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,No,No,Yes,Often,6-25,No,Yes,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,No,No,No,Rarely,More than 1000,No,No,Don't know,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,No,No,No,Rarely,6-25,No,Yes,No,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,No,Yes,Yes,Often,26-100,No,Yes,No,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,No,No,No,Never,100-500,Yes,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [110]:
for i in df.columns:
  print(i,df[i].unique())

Age [37 44 32 31 33 35 39 42 23 29 36 27 41 34 30 40 38 24 28 26 22 25 21 43]
Gender ['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'Cis Male' 'Woman' 'f' 'Mal' 'Male (CIS)'
 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah' 'Enby'
 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender' 'cis-female/femme'
 'Guy (-ish) ^_^' 'male leaning androgynous' 'Man' 'msle' 'Neuter'
 'Female (trans)' 'queer' 'Mail' 'cis male' 'Malr' 'Male ' 'femail'
 'Cis Man' 'ostensibly male, unsure what that really means']
self_employed ['No' 'Yes']
family_history ['No' 'Yes']
treatment ['Yes' 'No']
work_interfere ['Often' 'Rarely' 'Never' 'Sometimes']
no_employees ['6-25' 'More than 1000' '26-100' '100-500' '1-5' '500-1000']
remote_work ['No' 'Yes']
tech_company ['Yes' 'No']
benefits ['Yes' "Don't know" 'No']
care_options ['Not sure' 'No' 'Yes']
wellness_program ['No' "Don't know" 'Yes']
seek_help ['Yes' "Don't know" 'No']
anonymity ['Yes' "Don't know" 'No']
leave ['Somewhat easy' "Don't know" 'Somewhat difficult' 'Very difficult'
 'Very easy']
mental_health_consequence ['No' 'Maybe' 'Yes']
phys_health_consequence ['No' 'Yes' 'Maybe']
coworkers ['Some of them' 'No' 'Yes']
supervisor ['Yes' 'No' 'Some of them']
mental_health_interview ['No' 'Yes' 'Maybe']
phys_health_interview ['Maybe' 'No' 'Yes']
mental_vs_physical ['Yes' "Don't know" 'No']
obs_consequence ['No' 'Yes']

In [111]:
def clean_gender(g):
  male = ['male', 'Male','M', 'm', 'Male-ish', 'maile','Cis Male','Mal', 'Male (CIS)','Make','Male ', 'Man',
        'msle','cis male', 'Cis Man','Malr','Mail']
  female = ['Female', 'female','Cis Female', 'F','f','Femake', 'woman','Female ','cis-female/femme','Female (cis)','femail','Woman','female']
  # trans = ['Trans-female','something kinda male?','queer/she/they','non-binary','All','fluid', 'Genderqueer','Androgyne', 'Agender','Guy (-ish) ^_^',
  #       'male leaning androgynous','Trans woman','Neuter', 'Female (trans)','queer','ostensibly male, unsure what that really means','trans']
  if g in male:
    return "male"
  elif g in female:
    return "female"
  else:
    return "female"
  
def clean_employee(n):
  types=['1-5','6-25','26-100','100-500','500-1000','More than 1000']
  for i in range(len(types)):
    if types[i]==n:
      return i+1
  return 7
    
def ordinal_encoding(n,k=[]):
  for i in range(len(k)):
    if(n==k[i]):
      return i

def neumeric_yes_no(n):

  if n.lower()=="yes":
    return 0
  else:
    return 1

In [112]:
df["Gender"]=df["Gender"].apply(lambda x:clean_gender(x))
list=["Age","phys_health_interview","mental_vs_physical","mental_health_interview","supervisor","obs_consequence","phys_health_consequence"]
details=[]
for i in df.columns:
    dict={}
    if i not in list:
        dict[i]=df[i].unique()
        details.append(dict)
    if i!="Age":
        df[i]=df[i].apply(lambda x:ordinal_encoding(x,df[i].unique()))

In [113]:
details

[{'Gender': array(['female', 'male'], dtype=object)},
 {'self_employed': array(['No', 'Yes'], dtype=object)},
 {'family_history': array(['No', 'Yes'], dtype=object)},
 {'treatment': array(['Yes', 'No'], dtype=object)},
 {'work_interfere': array(['Often', 'Rarely', 'Never', 'Sometimes'], dtype=object)},
 {'no_employees': array(['6-25', 'More than 1000', '26-100', '100-500', '1-5', '500-1000'],
        dtype=object)},
 {'remote_work': array(['No', 'Yes'], dtype=object)},
 {'tech_company': array(['Yes', 'No'], dtype=object)},
 {'benefits': array(['Yes', "Don't know", 'No'], dtype=object)},
 {'care_options': array(['Not sure', 'No', 'Yes'], dtype=object)},
 {'wellness_program': array(['No', "Don't know", 'Yes'], dtype=object)},
 {'seek_help': array(['Yes', "Don't know", 'No'], dtype=object)},
 {'anonymity': array(['Yes', "Don't know", 'No'], dtype=object)},
 {'leave': array(['Somewhat easy', "Don't know", 'Somewhat difficult',
         'Very difficult', 'Very easy'], dtype=object)},
 {'mental_health_consequence': array(['No', 'Maybe', 'Yes'], dtype=object)},
 {'coworkers': array(['Some of them', 'No', 'Yes'], dtype=object)}]

In [21]:
# df["Gender"]=df["Gender"].apply(lambda x:clean_gender(x))
# df["self_employed"]=df["self_employed"].apply(lambda x:neumeric_yes_no(x))
# df["family_history"]=df["family_history"].apply(lambda x:neumeric_yes_no(x))
# df["treatment"]=df["treatment"].apply(lambda x:neumeric_yes_no(x))
# df["remote_work"]=df["remote_work"].apply(lambda x:neumeric_yes_no(x))
# df["tech_company"]=df["tech_company"].apply(lambda x:neumeric_yes_no(x))
# df["obs_consequence"]=df["obs_consequence"].apply(lambda x:neumeric_yes_no(x))
# df["no_employees"]=df["no_employees"].apply(lambda x:clean_employee(x))

In [22]:
for i in df.columns:
    print(df[i].value_counts())

29    85
32    82
26    75
27    71
33    70
28    68
31    67
34    65
30    63
25    61
35    55
23    51
24    46
37    43
38    39
36    37
39    33
40    33
43    28
22    21
41    21
42    20
21    16
44    11
Name: Age, dtype: int64
1    910
0    251
Name: Gender, dtype: int64
0    1030
1     131
Name: self_employed, dtype: int64
0    697
1    464
Name: family_history, dtype: int64
0    582
1    579
Name: treatment, dtype: int64
3    683
2    191
1    158
0    129
Name: work_interfere, dtype: int64
0    277
2    267
1    255
3    165
4    140
5     57
Name: no_employees, dtype: int64
0    829
1    332
Name: remote_work, dtype: int64
0    950
1    211
Name: tech_company, dtype: int64
0    434
1    374
2    353
Name: benefits, dtype: int64
1    470
2    402
0    289
Name: care_options, dtype: int64
0    786
2    204
1    171
Name: wellness_program, dtype: int64
2    606
1    337
0    218
Name: seek_help, dtype: int64
1    753
0    347
2     61
Name: anonymity, dtype: int64
1    516
0    251
4    188
2    114
3     92
Name: leave, dtype: int64
0    450
1    450
2    261
Name: mental_health_consequence, dtype: int64
0    861
2    249
1     51
Name: phys_health_consequence, dtype: int64
0    721
1    232
2    208
Name: coworkers, dtype: int64
0    477
1    358
2    326
Name: supervisor, dtype: int64
0    929
2    196
1     36
Name: mental_health_interview, dtype: int64
0    507
1    463
2    191
Name: phys_health_interview, dtype: int64
1    533
0    314
2    314
Name: mental_vs_physical, dtype: int64
0    995
1    166
Name: obs_consequence, dtype: int64

In [24]:
df["Age"]=df["Age"].apply(lambda x:x/100)

In [25]:
for i in df.columns:
  print(i,df[i].unique())

Age [0.37 0.44 0.32 0.31 0.33 0.35 0.39 0.42 0.23 0.29 0.36 0.27 0.41 0.34
 0.3  0.4  0.38 0.24 0.28 0.26 0.22 0.25 0.21 0.43]
Gender [0 1]
self_employed [0 1]
family_history [0 1]
treatment [0 1]
work_interfere [0 1 2 3]
no_employees [0 1 2 3 4 5]
remote_work [0 1]
tech_company [0 1]
benefits [0 1 2]
care_options [0 1 2]
wellness_program [0 1 2]
seek_help [0 1 2]
anonymity [0 1 2]
leave [0 1 2 3 4]
mental_health_consequence [0 1 2]
phys_health_consequence [0 1 2]
coworkers [0 1 2]
supervisor [0 1 2]
mental_health_interview [0 1 2]
phys_health_interview [0 1 2]
mental_vs_physical [0 1 2]
obs_consequence [0 1]

In [26]:
# y=df["treatment"]
# x=df.drop(["treatment","Gender_female","work_interfere_Often","seek_help_Don't know","benefits_Don't know","care_options_Not sure","wellness_program_Don't know","anonymity_Don't know","leave_Don't know","mental_health_consequence_Maybe","coworkers_No","phys_health_consequence_Maybe","supervisor_Some of them","mental_health_interview_Maybe","phys_health_interview_Maybe","mental_vs_physical_Don't know","mental_vs_physical_No"],axis=1)

In [60]:
y=df["treatment"]
x=df.drop(["treatment","phys_health_interview","mental_vs_physical","mental_health_interview","supervisor","obs_consequence","phys_health_consequence"],axis=1)

In [ ]:
y=df["treatment"]
x=df.drop(["treatment","phys_health_interview","mental_vs_physical","mental_health_interview","supervisor","obs_consequence","phys_health_consequence"],axis=1)

In [114]:
x

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,coworkers
0,0.37,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0.44,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1
2,0.32,1,0,0,1,0,0,0,2,1,0,2,1,2,0,2
3,0.31,1,0,1,0,2,0,0,2,2,0,2,2,2,2,0
4,0.31,1,0,0,2,3,1,0,0,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,0.36,1,0,1,1,1,0,1,1,1,2,0,1,0,1,0
1254,0.26,1,0,0,3,2,0,0,2,1,0,2,1,0,0,0
1255,0.32,1,0,1,0,2,1,0,0,2,0,2,0,2,0,0
1256,0.34,1,0,1,3,1,0,0,0,2,0,2,1,2,2,1
1258,0.25,1,0,1,3,2,0,1,0,2,0,2,0,1,1,0

In [83]:
import joblib
import tensorflow as tf
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [63]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42)

In [82]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation="relu"),
    # tf.keras.layers.Dense(32,activation="relu"),
    tf.keras.layers.Dense(1,activation="relu")
])
model.compile(optimizer=tf.optimizers.Adam(learning_rate=0.001),loss=tf.losses.BinaryCrossentropy(),metrics=["accuracy"])

# lr_scheduler=tf.keras.callbacks.LearningRateScheduler(lambda x: 1e-4*10**(x/20))
history=model.fit(x_train,y_train,epochs=100,verbose=0)#,callbacks=lr_scheduler)
model.evaluate(x_train,y_train),model.evaluate(x_test,y_test)

28/28 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8425
10/10 [==============================] - 0s 3ms/step - loss: 1.1176 - accuracy: 0.7320

([0.321260541677475, 0.842528760433197],
 [1.1176414489746094, 0.7319587469100952])

In [84]:
joblib.dump(model,"model.pkl")

INFO:tensorflow:Assets written to: ram://24e71bda-7a51-4ef0-ab4b-2ba321a262bb/assets

['nodel.pkl']

In [35]:
y_pred=model.predict(x_test[0])
y_pred

10/10 [==============================] - 0s 2ms/step

array([[0.0000000e+00],
       [3.7702110e-01],
       [0.0000000e+00],
       [3.5383284e-01],
       [6.7669690e-01],
       [5.9100169e-01],
       [3.9633441e-01],
       [9.8331672e-01],
       [4.9808571e-01],
       [4.8844561e-01],
       [9.0177995e-01],
       [5.9201443e-01],
       [4.9799535e-01],
       [8.1922489e-01],
       [7.8415048e-01],
       [4.4258371e-01],
       [4.7477174e-01],
       [4.4554412e-01],
       [5.5202097e-02],
       [7.8168678e-01],
       [6.9711906e-01],
       [2.2327901e-01],
       [1.1364418e+00],
       [5.7095104e-01],
       [4.4647798e-01],
       [8.2156354e-01],
       [7.2486764e-01],
       [9.1187137e-01],
       [0.0000000e+00],
       [6.3424212e-01],
       [1.0117149e+00],
       [1.2241418e+00],
       [3.4885734e-01],
       [9.9717721e-02],
       [1.0797383e+00],
       [5.5600709e-01],
       [7.1935052e-01],
       [4.7651270e-01],
       [0.0000000e+00],
       [7.2329170e-01],
       [6.2576866e-01],
       [4.6862572e-01],
       [0.0000000e+00],
       [4.7910720e-01],
       [4.8454833e-01],
       [4.2155036e-01],
       [4.6590796e-01],
       [0.0000000e+00],
       [3.7463471e-01],
       [1.4831580e-01],
       [7.7626127e-01],
       [8.5750830e-01],
       [7.5924706e-01],
       [5.3347087e-01],
       [1.0303026e+00],
       [1.0586354e+00],
       [3.7627441e-01],
       [2.5125414e-01],
       [8.0250341e-01],
       [1.6182412e-01],
       [6.6092992e-01],
       [1.1325340e+00],
       [1.2655795e-01],
       [0.0000000e+00],
       [7.6207536e-01],
       [6.3997155e-01],
       [4.3651983e-02],
       [1.5697338e-01],
       [1.3075085e-02],
       [1.1237800e-01],
       [4.6044159e-01],
       [1.6101119e-01],
       [2.6793924e-01],
       [9.2869419e-01],
       [4.4714940e-01],
       [2.4836382e-01],
       [1.0499805e+00],
       [0.0000000e+00],
       [7.7788782e-01],
       [0.0000000e+00],
       [1.8329799e-01],
       [1.6300459e-01],
       [4.4264221e-01],
       [1.0416353e+00],
       [8.8407701e-01],
       [0.0000000e+00],
       [9.9069908e-02],
       [0.0000000e+00],
       [8.2127333e-01],
       [9.1695696e-01],
       [5.6898713e-01],
       [6.3765633e-01],
       [5.5487430e-01],
       [2.9135126e-01],
       [2.3649624e-01],
       [4.4898939e-01],
       [1.8162529e-01],
       [3.5048658e-01],
       [6.9752616e-01],
       [0.0000000e+00],
       [8.3951429e-02],
       [6.3256162e-01],
       [9.0213066e-01],
       [7.6023173e-01],
       [4.2612427e-01],
       [0.0000000e+00],
       [6.1486083e-01],
       [6.8158609e-01],
       [4.3247205e-01],
       [1.7564996e-01],
       [6.6842878e-01],
       [2.4648647e-01],
       [0.0000000e+00],
       [5.4172331e-01],
       [3.9834544e-02],
       [9.3085527e-01],
       [4.7923422e-01],
       [5.1284835e-02],
       [6.5973707e-02],
       [0.0000000e+00],
       [7.1413445e-01],
       [8.5968727e-01],
       [4.7940058e-01],
       [6.8954659e-01],
       [4.8379371e-01],
       [4.5756766e-01],
       [2.9149306e-01],
       [2.1287411e-01],
       [3.5364404e-01],
       [0.0000000e+00],
       [3.1720772e-02],
       [8.1351298e-01],
       [1.1649144e-01],
       [5.6285912e-01],
       [5.6029087e-01],
       [8.5113424e-01],
       [8.0989683e-01],
       [4.1193891e-01],
       [3.4369567e-01],
       [4.6454236e-01],
       [0.0000000e+00],
       [2.1491101e-01],
       [6.9768757e-01],
       [5.6046879e-01],
       [8.3773130e-01],
       [4.7057211e-02],
       [9.2276704e-01],
       [2.7154955e-01],
       [0.0000000e+00],
       [9.6741623e-01],
       [5.2251691e-01],
       [5.9778905e-01],
       [7.7822316e-01],
       [0.0000000e+00],
       [3.8958406e-01],
       [3.4167022e-01],
       [1.3879643e-01],
       [3.8795608e-01],
       [2.8102693e-01],
       [0.0000000e+00],
       [0.0000000e+00],
       [6.7441201e-01],
       [8.5327452e-01],
       [6.6239852e-03],
       [1.2310709e+00],
       [4.9130797e-01],
       [5.6233782e-01],
       [1.9651404e-01],
       [4.7539361e-04],
       [5.5867332e-01],
       [2.5546062e-01],
       [2.5969148e-01],
       [0.0000000e+00],
       [2.6969248e-01],
       [1.6154300e+00],
       [1.1092997e+00],
       [4.5959058e-01],
       [0.0000000e+00],
       [4.6355692e-01],
       [6.2711585e-01],
       [5.1655120e-01],
       [7.6228315e-01],
       [5.0113350e-01],
       [0.0000000e+00],
       [1.0003248e+00],
       [5.7852346e-01],
       [1.0900182e+00],
       [7.5625604e-01],
       [6.7510027e-01],
       [4.7824141e-01],
       [8.7212914e-01],
       [8.0113691e-01],
       [6.7444414e-01],
       [1.0626714e+00],
       [1.1677161e+00],
       [2.2223781e-01],
       [4.6822712e-01],
       [6.1009395e-01],
       [2.2973596e-01],
       [1.0129229e+00],
       [1.3362707e+00],
       [3.9518976e-01],
       [0.0000000e+00],
       [3.9713269e-01],
       [0.0000000e+00],
       [3.2134610e-01],
       [4.7442079e-01],
       [0.0000000e+00],
       [6.4780548e-02],
       [0.0000000e+00],
       [4.7126651e-01],
       [4.3877298e-01],
       [4.3088388e-01],
       [3.1366095e-02],
       [3.9459616e-01],
       [5.2266276e-01],
       [1.4593533e-01],
       [6.0443968e-01],
       [2.6278219e-01],
       [8.3869487e-01],
       [8.9127058e-01],
       [1.4607255e+00],
       [8.5399514e-01],
       [9.2882544e-01],
       [1.0992718e+00],
       [5.5122209e-01],
       [4.5031953e-01],
       [1.0405951e+00],
       [0.0000000e+00],
       [2.0356762e-01],
       [1.0672807e+00],
       [9.9135011e-01],
       [1.2173925e-01],
       [8.1593245e-01],
       [2.7981270e-03],
       [1.4075775e-01],
       [6.8862516e-01],
       [1.0042621e+00],
       [4.9137679e-01],
       [0.0000000e+00],
       [9.5183569e-01],
       [3.8431063e-02],
       [5.8094537e-01],
       [1.0573207e+00],
       [9.5016682e-01],
       [9.0618618e-04],
       [1.6618330e+00],
       [5.7404983e-01],
       [7.3896241e-01],
       [9.6811450e-01],
       [2.8369373e-01],
       [0.0000000e+00],
       [1.0967642e+00],
       [7.4621814e-01],
       [1.0267080e-01],
       [6.3752800e-02],
       [9.8590654e-01],
       [3.6778495e-01],
       [6.1756915e-01],
       [4.5043355e-01],
       [5.7275735e-02],
       [3.8421732e-01],
       [7.7874118e-01],
       [1.1663597e+00],
       [6.0192496e-01],
       [1.0058513e+00],
       [7.9191810e-01],
       [9.0468645e-01],
       [3.3594985e-03],
       [0.0000000e+00],
       [6.0078815e-02],
       [8.2209021e-01],
       [1.0016111e+00],
       [0.0000000e+00],
       [8.4560174e-01],
       [7.2526395e-01],
       [1.0347661e+00],
       [6.5237784e-01],
       [5.2859199e-01],
       [0.0000000e+00],
       [8.7499931e-02],
       [8.2810527e-01],
       [5.4642242e-01],
       [2.7951413e-01],
       [1.8198483e-01],
       [1.4071283e-01],
       [7.1995223e-01],
       [3.9864391e-01],
       [0.0000000e+00],
       [8.5117102e-01],
       [7.2701436e-01]], dtype=float32)

In [33]:
# lrs=1e-4*(10**(tf.range(100)/20))
# plt.figure(figsize=(7,4))
# plt.semilogx(lrs,history.history["loss"])
# plt.xlabel("learning_rate")
# plt.ylabel("Loss")